In [6]:
from pymongo import MongoClient

# Replace 'localhost' and '27017' with your MongoDB container's IP and port if necessary
client = MongoClient('mongodb://localhost:27017/')

# List all databases
databases = client.list_database_names()

# Print the databases
print("Databases:", databases)

Databases: ['admin', 'aiquiz', 'config', 'local']

# image submission

In [276]:
# Create a new database called "my_new_database"
# MongoDB will not create the database until you insert data into a collection
db = client["aiquiz"]

# Create a new collection called "test_collection"
COLLECTION_IMAGE_SUBMISSION = db["image_submission"]

In [271]:
# Insert a sample document into the collection
COLLECTION_IMAGE_SUBMISSION.insert_one({'round':1,'group': 'tid', 'url': 'https://oaidalleapiprodscus.blob.core.windows.net/private/org-bsm36VYFrKwPYav81YxSLC8G/user-CTf21hgnBGYDLJUoPa3o9roi/img-WnUGn4p4xAKvlrRTPxUsrL6h.png?st=2024-08-18T07%3A38%3A34Z&se=2024-08-18T09%3A38%3A34Z&sp=r&sv=2024-08-04&sr=b&rscd=inline&rsct=image/png&skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2024-08-18T05%3A31%3A33Z&ske=2024-08-19T05%3A31%3A33Z&sks=b&skv=2024-08-04&sig=bsipdZJwdRpsEAxY2eD%2BQbWTGbEdAllPGoWJwEUYno4%3D', 'prompt': 'qweqwe'})

InsertOneResult(ObjectId('66c1b56771c2a036e41f31d2'), acknowledged=True)

In [277]:

# Retrieve all documents in the collection
documents = COLLECTION_IMAGE_SUBMISSION.find()

# Print all documents
for document in documents:
    print(document)

In [278]:
COLLECTION_IMAGE_SUBMISSION.find_one({"round": 1, "group": 'tid'})

In [279]:
# collection.delete_many({})

# Game state

In [280]:
# Create a new database called "my_new_database"
# MongoDB will not create the database until you insert data into a collection
db = client["aiquiz"]

# Create a new collection called "test_collection"
COLLECTION_GAMESTATE = db["game_state"]

In [281]:

# Insert a sample document into the collection
COLLECTION_GAMESTATE.insert_one({"state": '0'})

InsertOneResult(ObjectId('66c1bc4c71c2a036e41f31d3'), acknowledged=True)

In [189]:
COLLECTION_GAMESTATE.insert_one({"round": 1})

InsertOneResult(ObjectId('66bcbe6e71c2a036e41f31cf'), acknowledged=True)

In [282]:
COLLECTION_GAMESTATE.delete_many({})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [283]:
for document in COLLECTION_GAMESTATE.find():
    print(document)

In [284]:
# Print all documents
for document in COLLECTION_GAMESTATE.find({'state': {'$regex': '\d'}}):
    print(document)

In [285]:
# Define the filter to select the document to update
filter = {'state': {'$regex': '\d'}}

# Define the new value to set
new_values = {"$set": {"state":'1'}}

# Update the document
result = COLLECTION_GAMESTATE.update_one(filter, new_values)

In [286]:
COLLECTION_GAMESTATE.find_one({"state": {"$exists": True}})

In [287]:
COLLECTION_GAMESTATE.find_one({"round": {"$exists": True}})['round']

TypeError: 'NoneType' object is not subscriptable

In [288]:
if COLLECTION_GAMESTATE.find_one({"round": {"$exists": True}}):
        COLLECTION_GAMESTATE.update_one(
            {"round": {"$exists": True}}, {"$set": {"round": 2}}
        )

# Quiz

In [290]:
# Create a new database called "my_new_database"
# MongoDB will not create the database until you insert data into a collection
db = client["aiquiz"]

# Create a new collection called "test_collection"
COLLECTION_QUIZ = db["quiz"]

In [258]:
# COLLECTION_QUIZ.delete_many({})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [291]:
for document in COLLECTION_QUIZ.find():
    print(document)

In [292]:
COLLECTION_QUIZ.find_one({"round":1})

## quiz submissions

In [215]:
COLLECTION_QUIZ_SUBMISSION = db["quiz_submission"]

In [227]:
df = list(COLLECTION_QUIZ_SUBMISSION.find())

In [229]:
import pandas as pd

In [246]:
pd.DataFrame(df).groupby(["group"]).sum("score")[['score']]

       score
group
           0
daai       1
ds         1
tid        0